<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>Curriculum</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h2>SINTESIS CURRICULAR</h2>
      <p>
      <img id="Perfil" src="/images/Foto.jpeg" height="15%" width="15%">
      </p>
          <h2>DATOS PERSONALES</h2>
              <p> Nombres: Calixto José</p>
              <p> Apellidos:  Saldeño Fernandez</p>
              <p> Nacionalidad: Venezolano</p>
              <p> Cedula de Identidad: 26.495.239</p>
              <p> Estado Civil: Soltero</p>
              <p> Fecha de Nacimiento: 02 de Septiembre de 1996</p>
              <p> Correo Electronico: cblx74@gmail.com</p>
              <p> Dirección:Estado Guárico - Venezuela. </p>
          <h2>REDES SOCIALES</h2>
              <p><A HREF="https://www.facebook.com/calixto.saldenofernandes"><img src="/images/Facebook.png" height="5%" width="5%">Facebook</A> </p>
              <p><A HREF="https://github.com/Calixto02"><img src="/images/Github.png" height="8%" width="8%">Github</A></p>
   
      
      
          <h2>FORMACIÓN ACADÉMICA</h2>
              <p>Educación primaria: U.E "Moral y Luces"</p>
              <p>Educación secundaria: U.E.N “José María Vargas”</p>
              <p>Titulo obtenido: Bachiller en Ciencias. </p>
              <p>Cursando 5to semestre de Ing. Informatica en la U.N.E "Rómulo Gallegos"</p>
          <h2>EXPERIENCIA LABORAL</h2>
              <p>experencia en ventas</p>
              <p>Reparacion de ordenadores de mesa</p>
              <p>Instalacion de sistemas operativos</p>
          <h2>HABILIDADES Y DESTREZAS</h2>
              <p>Experto en artes marciales</p>
              <p>Dominio de ingles basico</p>
              <p>Manejo de programas de edición de video</p>
              <p>Manejo de programas de diseño grafico</p>
              <p>Buen gerente</p>
  </div>
  </body>
</html>
